/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, a, pre, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  width: 100%;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

header {
  height: 80px;
  width: 100%;
  position: fixed;
  background-color: #101D2D;
  z-index: 99;
}

header .container {
  display: none;
  position: relative;
  /* listebis gastilva */
  /* Burger icon styles */
}

header .container .nav-bar {
  position: absolute;
  background-color: #162231fb;
  top: 0;
  right: 100%;
  height: 25vh;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container .toggle {
  left: 0;
}

header .container .nav-list-item {
  text-align: center;
  padding: 10px 0;
  height: 52px;
}

header .container .nav-link {
  font-size: 18px;
  background-color: #135CC5;
  border-radius: 6px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 6px;
  padding-bottom: 6px;
  color: white;
  font-family: "Inter", sans-serif;
}

header .container .toggle-menu {
  position: fixed;
  top: 20px;
  right: 40px;
  width: 40px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 2px 2px 2px 3px;
  cursor: pointer;
}

header .container .line {
  width: 100%;
  height: 3px;
  background-color: #1d6edf;
  -webkit-transition: -webkit-transform 0.2s ease-out;
  transition: -webkit-transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out, -webkit-transform 0.2s ease-out;
  border-radius: 1.5px;
}

header .container .toggle .line1 {
  -webkit-transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
          transform: scale(0.9) rotate(-45deg) translate(-6px, 4px);
}

header .container .toggle .line2 {
  display: none;
}

header .container .toggle .line3 {
  -webkit-transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
          transform: scale(0.9) rotate(45deg) translate(-6px, -4px);
}

header .header-container {
  width: 75%;
  height: 36px;
  max-width: 1080px;
  margin: 0 auto;
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .header-list {
  width: 296px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header-container .header-list .a1 {
  padding-top: 7px;
  font-size: 16px;
  color: #95A4B4;
  font-family: "Inter", sans-serif;
}

header .header-container .header-list .a2 {
  background-color: #2174EA;
  width: 106px;
  height: 36px;
  padding-left: 24px;
  padding-top: 7px;
  font-size: 16px;
  border-radius: 2px;
  color: white;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

header .header-container .header-list .a2:hover {
  background-color: #2175ead5;
}

.section-first {
  width: 100%;
}

.section-first .section1 {
  padding-top: 80px;
  position: relative;
  margin-bottom: 80px;
  height: 755px;
}

.section-first .section1 .section1-background-image {
  width: 100%;
  height: 675px;
  position: relative;
}

.section-first .section1 .section1-container {
  position: absolute;
  width: 75%;
  max-width: 1280px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  top: 160px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.section-first .section1 .section1-container .section1-container-textbox {
  width: 488px;
  margin-right: 15px;
}

.section-first .section1 .section1-container .section1-container-textbox > h4 {
  font-family: "Playfair Display", serif;
  color: #E7ECF2;
  font-size: 52px;
  line-height: 66px;
  margin-bottom: 16px;
}

.section-first .section1 .section1-container .section1-container-textbox > p {
  font-size: 20px;
  color: #95A4B4;
  line-height: 25px;
  margin-bottom: 40px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.section-first .section1 .section1-container .section1-container-textbox > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-first .section1 .section1-container .section1-container-textbox > div .but1 {
  width: 194px;
  height: 48px;
  color: white;
  font-size: 16px;
  margin-right: 8px;
  border-radius: 4px;
  background-color: #2174EA;
  font-family: "Inter", sans-serif;
}

.section-first .section1 .section1-container .section1-container-textbox > div .but1:hover {
  background-color: #2175ead5;
}

.section-first .section1 .section1-container .section1-container-textbox > div .but2 {
  width: 151px;
  height: 48px;
  color: white;
  font-size: 16px;
  border-radius: 4px;
  background-color: #58677A;
  font-family: "Inter", sans-serif;
}

.section-first .section1 .section1-container .section1-container-textbox > div .but2:hover {
  background-color: #8b95a1d5;
}

.section-first .section1 .section1-container > img {
  width: 528px;
  border-radius: 4px;
}

.section-first .section2 {
  width: 75%;
  max-width: 1080px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0 auto;
  padding-bottom: 86px;
}

.section-first .section2 > div {
  width: 317px;
  margin-bottom: 68px;
}

.section-first .section2 > div > img {
  margin-bottom: 17px;
}

.section-first .section2 > div > h4 {
  font-size: 24px;
  color: #101D2D;
  font-family: "Playfair Display", serif;
  margin-bottom: 10px;
}

.section-first .section2 > div > p {
  font-size: 18px;
  color: #627183;
  font-family: "Inter", sans-serif;
  line-height: 32px;
}

.section-first .section3 {
  width: 63%;
  margin: 0 auto;
  padding-bottom: 81px;
}

.section-first .section3 .section3-title-textbox {
  width: 620px;
  margin: 0 auto;
}

.section-first .section3 .section3-title-textbox > h3 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 44px;
  color: #101D2D;
  margin-bottom: 6px;
}

.section-first .section3 .section3-title-textbox > p {
  text-align: center;
  font-size: 20px;
  color: #627183;
  font-family: "Inter", sans-serif;
  line-height: 30px;
  margin-bottom: 51px;
}

.section-first .section3 .section3-main-content {
  margin: 0 auto;
}

.section-first .section3 .section3-main-content .section3-card-list {
  width: 736px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 53px;
}

.section-first .section3 .section3-main-content .section3-card-list .section3-cards {
  width: 160px;
}

.section-first .section3 .section3-main-content .section3-card-list .section3-cards > img {
  -webkit-transform: translate(52px);
          transform: translate(52px);
  margin-bottom: 12px;
}

.section-first .section3 .section3-main-content .section3-card-list .section3-cards > h5 {
  font-family: "Inter", sans-serif;
  text-align: center;
  font-size: 18px;
}

.section-first .section3 .section3-main-content > img {
  width: 100%;
  margin: 0 auto;
}

.section-first .section4 {
  background-color: #F3F5F8;
}

.section-first .section4 .section4-hello {
  width: 75%;
  padding-top: 86px;
  padding-bottom: 80px;
  margin: 0 auto;
}

.section-first .section4 .section4-hello .section4-title-textbox {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 83px;
}

.section-first .section4 .section4-hello .section4-title-textbox > h3 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  text-align: center;
  margin-bottom: 10px;
}

.section-first .section4 .section4-hello .section4-title-textbox > p {
  font-family: "Inter", sans-serif;
  font-size: 20px;
  color: #627183;
  line-height: 30px;
  text-align: center;
}

.section-first .section4 .section4-hello .section4-main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1080px;
  margin: 0 auto;
}

.section-first .section4 .section4-hello .section4-main-content .section4-card {
  background-color: white;
  width: 344px;
  height: 528px;
  -webkit-box-shadow: 6px 7px 15px 2px rgba(146, 134, 134, 0.24);
          box-shadow: 6px 7px 15px 2px rgba(146, 134, 134, 0.24);
}

.section-first .section4 .section4-hello .section4-main-content .section4-card > img {
  margin-bottom: 24px;
}

.section-first .section4 .section4-hello .section4-main-content .section4-card > h5 {
  width: 296px;
  margin: 0 auto;
  margin-bottom: 16px;
  font-family: "Inter", sans-serif;
  font-size: 24px;
  color: #101D2D;
}

.section-first .section4 .section4-hello .section4-main-content .section4-card > p {
  width: 296px;
  margin: 0 auto;
  margin-bottom: 20px;
  font-family: "Inter", sans-serif;
  line-height: 28px;
  color: #627183;
}

.section-first .section4 .section4-hello .section4-main-content .section4-card .section4-card-minitext {
  width: 296px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: #101D2D;
}

.section-first .section5 {
  background-color: white;
}

.section-first .section5 .section5-div {
  width: 75%;
  padding-top: 86px;
  padding-bottom: 82px;
  margin: 0 auto;
}

.section-first .section5 .section5-div .section5-title-textbox {
  width: 625px;
  margin: 0 auto;
  margin-bottom: 113px;
}

.section-first .section5 .section5-div .section5-title-textbox > h3 {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 44px;
  margin-bottom: 5px;
  line-height: 54px;
}

.section-first .section5 .section5-div .section5-title-textbox > p {
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 30px;
}

.section-first .section5 .section5-div .section5-main-content {
  width: 544px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 auto;
}

.section-first .section5 .section5-div .section5-main-content > img {
  margin-right: 27px;
}

.section-first .section5 .section5-div .section5-main-content .section5-text-list {
  width: 470px;
}

.section-first .section5 .section5-div .section5-main-content .section5-text-list .section5-text-list-card {
  width: 470px;
  margin-bottom: 67px;
}

.section-first .section5 .section5-div .section5-main-content .section5-text-list .section5-text-list-card > h4 {
  font-size: 14px;
  font-family: "Inter", sans-serif;
  line-height: 22px;
  margin-bottom: 7px;
  color: #95A4B4;
}

.section-first .section5 .section5-div .section5-main-content .section5-text-list .section5-text-list-card > p {
  font-size: 24px;
  font-family: "Inter", sans-serif;
  line-height: 34px;
  color: #101D2D;
}

.section-first .section6 {
  background-color: #101D2D;
}

.section-first .section6 .section6-div {
  width: 75%;
  margin: 0 auto;
  padding-top: 86px;
  padding-bottom: 80px;
}

.section-first .section6 .section6-div .section6-title-textbox {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 80px;
}

.section-first .section6 .section6-div .section6-title-textbox > h4 {
  font-size: 44px;
  font-family: "Playfair Display", serif;
  line-height: 54px;
  color: #F3F5F8;
  margin-bottom: 5px;
  text-align: center;
}

.section-first .section6 .section6-div .section6-title-textbox > p {
  color: #95A4B4;
  font-size: 18px;
  font-family: "Inter", sans-serif;
  color: #95A4B4;
  line-height: 30px;
  text-align: center;
}

.section-first .section6 .section6-div .section6-main-content .section6-main-content-users {
  width: 320px;
  margin: 0 auto;
  margin-bottom: 32px;
}

.section-first .section6 .section6-div .section6-main-content .section6-main-content-users > p {
  text-align: center;
  font-size: 16px;
  line-height: 24px;
  color: #E7ECF2;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1120px;
  margin: 0 auto;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards {
  width: 344px;
  height: 578px;
  background-color: white;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-price {
  margin-left: 24px;
  margin-top: 16px;
  margin-bottom: 45px;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-price > img {
  margin-bottom: 1px;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-price > p {
  font-size: 16px;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  color: #95A4B4;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text {
  margin-left: 24px;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text > h3 {
  color: #101D2D;
  font-family: "Inter", sans-serif;
  line-height: 24px;
  margin-bottom: 27px;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list {
  padding-bottom: 32px;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list > div > h5 {
  margin-top: 14px;
  margin-bottom: 5px;
  color: #627183;
  font-family: "Inter", sans-serif;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list > div > img {
  margin-right: 13px;
  height: 24px;
  margin-top: 10px;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards > button {
  font-size: 16px;
  width: 296px;
  height: 48px;
  color: white;
  background-color: #2174EA;
  font-family: "Inter", sans-serif;
  margin-left: 24px;
  border-radius: 4px;
}

.section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards button:hover {
  background-color: #2062bef1;
}

.footer1 {
  width: 100%;
  background-color: #101D2D;
  padding-bottom: 62px;
}

.footer1 .footer-div {
  width: 75%;
  margin: 0 auto;
}

.footer1 .footer-div .footer-main-content {
  width: 100%;
  margin: 0 auto;
  height: 180px;
  background-color: #135CC5;
}

.footer1 .footer-div .footer-main-content > div {
  width: 91.1%;
  margin: 0 auto;
  padding-top: 74px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer1 .footer-div .footer-main-content > div > h4 {
  color: #E2EEFF;
  font-family: "Playfair Display", serif;
  font-size: 32px;
}

.footer1 .footer-div .footer-main-content > div > input {
  width: 320px;
  height: 48px;
  color: #95A4B4;
  background-color: white;
  padding-left: 16px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  border: 1px solid #707070;
}

.footer1 .footer-div .footer-bottom {
  padding-top: 67px;
}

.footer1 .footer-div .footer-bottom .footer-bottom-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 25px;
}

.footer1 .footer-div .footer-bottom .footer-bottom-logos > div {
  width: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer1 .footer-div .footer-bottom .footer-bottom-logos > div > img {
  height: 16px;
}

.footer1 .footer-div .footer-bottom .footer-bottom-logos > img {
  height: 30px;
}

.footer1 .footer-div .footer-bottom .footer-bottom-help-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer1 .footer-div .footer-bottom .footer-bottom-help-list h5 {
  color: #627183;
  font-family: "Inter", sans-serif;
  font-size: 14px;
}

.footer1 .footer-div .footer-bottom .footer-bottom-help-list > div {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body2 {
  width: 100%;
}

.body2 section {
  width: 100%;
}

.body2 section .section1 {
  position: relative;
  padding-top: 80px;
  margin-bottom: 110px;
}

.body2 section .section1 > img {
  position: relative;
  height: 660px;
  width: 100%;
}

.body2 section .section1 > div {
  position: absolute;
  top: 0px;
  left: 50%;
  width: 75%;
  max-width: 1100px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.body2 section .section1 > div .section1-title-box-text {
  width: 620px;
  height: 131px;
  margin: 0 auto;
  margin-top: 166px;
  margin-bottom: 51px;
}

.body2 section .section1 > div .section1-title-box-text > h3 {
  font-family: "Playfair Display", serif;
  font-size: 52px;
  line-height: 62px;
  text-align: center;
  color: #E7ECF2;
}

.body2 section .section1 > div .section1-card-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body2 section .section1 > div .section1-card-list .section1-card {
  width: 344px;
  height: 437px;
  background-color: white;
  -webkit-box-shadow: 0px 2px 14px 2px rgba(185, 185, 185, 0.75);
          box-shadow: 0px 2px 14px 2px rgba(185, 185, 185, 0.75);
}

.body2 section .section1 > div .section1-card-list .section1-card > img {
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 15px;
}

.body2 section .section1 > div .section1-card-list .section1-card > p {
  width: 298px;
  margin: 0 auto;
  margin-bottom: 37px;
  font-size: 18px;
  line-height: 28px;
  font-family: "Inter", sans-serif;
  color: #627183;
}

.body2 section .section1 > div .section1-card-list .section1-card > div {
  margin: 0 auto;
  width: 296px;
}

.body2 section .section1 > div .section1-card-list .section1-card > div > img {
  margin-bottom: 19px;
}

.body2 section .section1 > div .section1-card-list .section1-card > div > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.body2 section .section1 > div .section1-card-list .section1-card > div > div > h6 {
  font-size: 16px;
  color: #101D2D;
  font-family: "Inter", sans-serif;
}

.body2 section .section1 > div .section1-card-list .section1-card > div > div > h5 {
  font-size: 16px;
  color: #2174EA;
  font-family: "Inter", sans-serif;
}

.body2 section .section2 {
  width: 75%;
  margin: 0 auto;
}

.body2 section .section2 .section2-social-images {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 86px;
}

.body2 section .section2 .section2-social-images > img {
  width: 100%;
  height: 6px;
}

.body2 section .section2 .section2-social-images > div {
  margin: 0 auto;
  width: 92%;
  margin-top: 36px;
  margin-bottom: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body2 section .section2 .section2-social-images > div .image-1 {
  width: 14%;
  height: 30px;
}

.body2 section .section2 .section2-social-images > div .image-2 {
  width: 10%;
  height: 36px;
}

.body2 section .section2 .section2-social-images > div .image-3 {
  width: 14%;
  height: 36px;
}

.body2 section .section2 .section2-social-images > div .image-4 {
  width: 17%;
  height: 36px;
}

.body2 section .section2 .section2-social-images > div .image-5 {
  width: 13%;
  height: 36px;
}

.body2 section .section2 .section2-main-content {
  margin: 0 auto;
}

.body2 section .section2 .section2-main-content > img {
  width: 100%;
  height: 2px;
  margin-bottom: 86px;
}

.body2 section .section2 .section2-main-content .title-text-textbox {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 83px;
}

.body2 section .section2 .section2-main-content .title-text-textbox > h3 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  margin-bottom: 5px;
}

.body2 section .section2 .section2-main-content .title-text-textbox > p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.body2 section .section2 .section2-main-content .human-profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
}

.body2 section .section2 .section2-main-content .human-profiles .profile-cards {
  width: 296px;
  margin-bottom: 68px;
}

.body2 section .section2 .section2-main-content .human-profiles .profile-cards > img {
  width: 180px;
  margin-bottom: 24px;
  margin-left: 58px;
}

.body2 section .section2 .section2-main-content .human-profiles .profile-cards > h3 {
  font-size: 20px;
  line-height: 30px;
  color: #101D2D;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-bottom: 6px;
}

.body2 section .section2 .section2-main-content .human-profiles .profile-cards > h4 {
  font-size: 16px;
  line-height: 24px;
  color: #5091EE;
  font-family: "Inter", sans-serif;
  text-align: center;
  margin-bottom: 11px;
}

.body2 section .section2 .section2-main-content .human-profiles .profile-cards > p {
  font-size: 18px;
  line-height: 28px;
  color: #627183;
  font-family: "Inter", sans-serif;
  text-align: center;
}

.body2 section .section3 {
  width: 75%;
  max-width: 1080px;
  margin: 0 auto;
}

.body2 section .section3 .section3-title-textbox {
  width: 620px;
  margin: 0 auto;
  margin-bottom: 53px;
}

.body2 section .section3 .section3-title-textbox > h3 {
  font-family: "Playfair Display", serif;
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  margin-bottom: 5px;
}

.body2 section .section3 .section3-title-textbox > p {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
}

.body2 section .section3 .main-content .text-and-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body2 section .section3 .main-content .text-and-image > div {
  margin-top: 82px;
}

.body2 section .section3 .main-content .text-and-image > div > h4 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 14px;
  font-family: "Inter", sans-serif;
  color: #101D2D;
}

.body2 section .section3 .main-content .text-and-image > div > p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  color: #627183;
}

.body2 section .section3 .main-content .text-and-image2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body2 section .section3 .main-content .text-and-image2 > div {
  margin-top: 82px;
}

.body2 section .section3 .main-content .text-and-image2 > div > h4 {
  font-size: 32px;
  line-height: 42px;
  margin-bottom: 14px;
  font-family: "Inter", sans-serif;
  color: #101D2D;
  text-align: right;
}

.body2 section .section3 .main-content .text-and-image2 > div > p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  color: #627183;
  text-align: right;
}

.body2 section .section3 > img {
  width: 100%;
  height: 2px;
  margin-top: 60px;
  margin-bottom: 80px;
}

.body2 section .section4 {
  width: 50%;
  max-width: 720px;
  margin: 0 auto;
}

.body2 section .section4 .section4-text1 {
  width: 87%;
  margin: 0 auto;
}

.body2 section .section4 .section4-text1 > h4 {
  font-family: "Playfair Display", serif;
  line-height: 54px;
  font-size: 44px;
  margin-bottom: 14px;
}

.body2 section .section4 .section4-text1 > p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
  color: #627183;
}

.body2 section .section4 > img {
  margin-top: 50px;
  width: 100%;
  margin-bottom: 47px;
}

.body2 section .section4 .section4-text2 {
  width: 87%;
  margin: 0 auto;
  margin-bottom: 156px;
}

.body2 section .section4 .section4-text2 > h4 {
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 30px;
  font-family: "Playfair Display", serif;
}

.body2 section .section4 .section4-text2 > p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
  color: #627183;
}

.body2 section .section4 .section4-text2 > ul > li {
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  margin-bottom: 30px;
  margin-left: 20px;
  color: #627183;
}

.body2 section .section4 .section4-text2 > img {
  width: 100%;
  height: 2px;
}

.body2 section .section5 {
  width: 50%;
  max-width: 720px;
  margin: 0 auto;
}

.body2 section .section5 .text {
  margin-bottom: 83px;
}

.body2 section .section5 .text > h4 {
  font-size: 44px;
  line-height: 54px;
  text-align: center;
  margin-bottom: 5px;
  font-family: "Playfair Display", serif;
}

.body2 section .section5 .text > p {
  font-size: 20px;
  line-height: 30px;
  font-family: "Inter", sans-serif;
  text-align: center;
  color: #627183;
}

.body2 section .section5 .list {
  margin-bottom: 150px;
}

.body2 section .section5 .list > img {
  width: 100%;
  height: 1.5px;
  margin-bottom: 20px;
}

.body2 section .section5 .list > div {
  width: 94%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body2 section .section5 .list > div > p {
  margin-bottom: 22px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  line-height: 28px;
  color: #101D2D;
}

.body2 section .section5 .list > div > button {
  border: 0;
  background-color: white;
}

.body2 section .section5 .list > div > button > img {
  height: 24px;
}

.body2 section .section5 .list > div button:hover {
  border: 2px solid grey;
}

.body2 footer {
  width: 100%;
  background-color: #101D2D;
}

.body2 footer .head {
  width: 75%;
  max-width: 1080px;
  margin: 0 auto;
  height: 180px;
  background-color: #135CC5;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.body2 footer .head > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 62px;
  padding-left: 48px;
}

.body2 footer .head > div > h4 {
  font-size: 32px;
  line-height: 48px;
  font-family: "Playfair Display", serif;
  color: #E2EEFF;
}

.body2 footer .head > div > button {
  margin-top: 4px;
  width: 188px;
  height: 48px;
  background-color: #2BBF96;
  margin-right: 48px;
  font-size: 16px;
  font-family: "Inter", sans-serif;
  color: white;
  border-radius: 3px;
}

.body2 footer .head > div button:hover {
  background-color: #39b669d5;
}

.body2 footer .main-content {
  width: 75%;
  margin: 0 auto;
  max-width: 1080px;
}

.body2 footer .main-content .main-content-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 65px;
}

.body2 footer .main-content .main-content-list .first-list {
  margin-right: 80px;
}

.body2 footer .main-content .main-content-list .first-list > img {
  width: 30px;
  margin-bottom: 18px;
}

.body2 footer .main-content .main-content-list .first-list > p {
  color: #627183;
  font-size: 14px;
  line-height: 20px;
  font-family: "Inter", sans-serif;
}

.body2 footer .main-content .main-content-list .second-list > h4 {
  color: #E7ECF2;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 11px;
  font-family: "Inter", sans-serif;
}

.body2 footer .main-content .main-content-list .second-list > h5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 7px;
  color: #95A4B4;
  font-family: "Inter", sans-serif;
}

.body2 footer .main-content .logos-and-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body2 footer .main-content .logos-and-contact .mini-list {
  width: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.body2 footer .main-content .logos-and-contact .mini-list > h5 {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 7px;
  color: #627183;
  font-family: "Inter", sans-serif;
}

.body2 footer .main-content .logos-and-contact .logos {
  width: 114px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}

.body2 footer .main-content .logos-and-contact .logos > img {
  width: 16px;
  height: 16px;
}

.body3 header {
  background-color: white;
}

.body3 header > div .header-list .a1 {
  color: #2a2a2a;
}

.body3 section {
  width: 44%;
  max-width: 650px;
  margin: 0 auto;
  padding-top: 166px;
}

.body3 section > h3 {
  font-size: 51px;
  line-height: 62px;
  color: #101D2D;
  text-align: center;
  margin-bottom: 51px;
  font-family: "Playfair Display", serif;
}

.body3 section .sign-in {
  width: 330px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.body3 section .sign-in > input {
  width: 330px;
  height: 48px;
  margin-bottom: 12px;
  color: #95A4B4;
  padding-left: 16px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  border: solid 1px #dbdbdb;
}

.body3 section .sign-in > button {
  width: 330px;
  height: 48px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: white;
  margin-top: 24px;
  background-color: #2174EA;
  border: solid 1px #dbdbdb;
  border-radius: 4px;
}

.body3 section .sign-in button:hover {
  background-color: #1d65ca;
}

.body3 section .sign-in .diviko {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 31px;
  margin-bottom: 36px;
}

.body3 section .sign-in .diviko > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  color: #95A4B4;
  font-family: "Inter", sans-serif;
  font-size: 16px;
}

.body3 section .sign-in .diviko > a {
  font-size: 16px;
  color: #2174EA;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
}

.body3 section .sign-in .divuniko {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  margin-top: 30px;
}

.body3 section .sign-in .divuniko > p {
  font-size: 16px;
  color: #95A4B4;
  font-family: "Inter", sans-serif;
  margin-right: 6px;
}

.body3 section .sign-in .divuniko > a {
  font-size: 16px;
  color: #95A4B4;
  font-family: "Inter", sans-serif;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #2174EA;
}

@media (max-width: 1424px) {
  .section-first .section4 .section4-hello .section4-main-content .section4-card {
    width: 290px;
    height: 445px;
  }
  .section-first .section4 .section4-hello .section4-main-content .section4-card > img {
    width: 290px;
    margin-bottom: 18px;
  }
  .section-first .section4 .section4-hello .section4-main-content .section4-card > h5 {
    font-size: 21px;
    margin-left: 18px;
  }
  .section-first .section4 .section4-hello .section4-main-content .section4-card > p {
    font-size: 13px;
    margin-left: 18px;
    width: 254px;
  }
  .section-first .section4 .section4-hello .section4-main-content .section4-card .section4-card-minitext {
    width: 100px;
    margin-bottom: 0px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards {
    width: 290px;
    height: 486px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-price {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 15px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-price > img {
    width: 89px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-price > p {
    margin: 5px;
    margin-left: 0px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text {
    margin-left: 15px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text > h3 {
    margin-bottom: 10px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list {
    padding-bottom: 20px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list > img {
    width: 260px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list > div > img {
    width: 22px;
    height: 22px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list > div > h5 {
    font-size: 15px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards > button {
    width: 242px;
    height: 40px;
  }
  .body2 section .section1 > div .section1-card-list .section1-card {
    width: 290px;
    height: 367px;
    margin-right: 10px;
    margin-bottom: 25px;
  }
  .body2 section .section1 > div .section1-card-list .section1-card > img {
    width: 40px;
    margin-top: 20px;
  }
  .body2 section .section1 > div .section1-card-list .section1-card > p {
    width: 250px;
    font-size: 15.1px;
    line-height: 25px;
    margin-bottom: 15px;
  }
  .body2 section .section1 > div .section1-card-list .section1-card > div > img {
    width: 250px;
    margin-left: 20px;
  }
  .body2 section .section1 > div .section1-card-list .section1-card > div > div {
    margin-left: 20px;
  }
  .body2 section .section3 .main-content .text-and-image > img {
    width: 400px;
  }
  .body2 section .section3 .main-content .text-and-image2 > img {
    width: 400px;
  }
}

@media (max-width: 1200px) {
  .section-first .section4 .section4-hello .section4-main-content {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .section-first .section4 .section4-hello .section4-main-content .section4-card {
    margin-right: 10px;
    margin-bottom: 25px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards {
    margin-bottom: 25px;
  }
  .body2 section .section1 > img {
    height: 1000px;
  }
  .body2 section .section1 > div .section1-card-list {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media (max-width: 480px) {
  header {
    height: 80px;
    width: 100vw;
    position: fixed;
  }
  header .header-container {
    width: 75%;
    height: 36px;
    margin: 0 auto;
    margin-top: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  header .header-container .header-list {
    display: none;
  }
  header .container {
    display: block;
  }
  .section-first {
    width: 100%;
    height: auto;
  }
  .section-first .section1 {
    height: 950px;
  }
  .section-first .section1 .section1-background-image {
    width: 100%;
    height: 950px;
  }
  .section-first .section1 .section1-container {
    width: 75%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .section-first .section1 .section1-container .section1-container-textbox {
    width: 300px;
    margin: 0 auto;
  }
  .section-first .section1 .section1-container .section1-container-textbox > h4 {
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 5px;
    width: 290px;
    margin: 0 auto;
    text-align: center;
  }
  .section-first .section1 .section1-container .section1-container-textbox > p {
    line-height: 30px;
    width: 290px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 65px;
  }
  .section-first .section1 .section1-container .section1-container-textbox > div {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .section-first .section1 .section1-container .section1-container-textbox > div .but1 {
    margin: 0 auto;
    width: 288px;
    margin-bottom: 12px;
  }
  .section-first .section1 .section1-container .section1-container-textbox > div .but2 {
    margin: 0 auto;
    width: 288px;
    margin-bottom: 12px;
  }
  .section-first .section1 .section1-container > img {
    width: 299px;
    border-radius: 4px;
    margin: 0 auto;
  }
  .section-first .section2 {
    width: 90%;
    margin: 0 auto;
  }
  .section-first .section2 > div {
    width: 288px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .section-first .section3 {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 49px;
  }
  .section-first .section3 .section3-title-textbox {
    width: 288px;
    margin: 0 auto;
  }
  .section-first .section3 .section3-title-textbox > h3 {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .section-first .section3 .section3-title-textbox > p {
    margin-bottom: 81px;
  }
  .section-first .section3 .section3-main-content {
    margin: 0 auto;
  }
  .section-first .section3 .section3-main-content .section3-card-list {
    width: 160px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 53px;
  }
  .section-first .section3 .section3-main-content .section3-card-list .section3-cards {
    width: 160px;
    margin-bottom: 28px;
  }
  .section-first .section3 .section3-main-content .section3-card-list .section3-cards > img {
    -webkit-transform: translate(52px);
            transform: translate(52px);
    margin-bottom: 12px;
  }
  .section-first .section3 .section3-main-content .section3-card-list .section3-cards > h5 {
    font-family: "Inter", sans-serif;
    text-align: center;
    font-size: 18px;
  }
  .section-first .section3 .section3-main-content > img {
    margin-left: 10% !important;
    width: 288px;
  }
  .section-first .section4 .section4-hello {
    width: 90%;
    margin: 0 auto;
  }
  .section-first .section4 .section4-hello .section4-title-textbox {
    width: 288px;
    margin: 0 auto;
  }
  .section-first .section4 .section4-hello .section4-title-textbox > h3 {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .section-first .section4 .section4-hello .section4-main-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
    margin-top: 40px;
  }
  .section-first .section4 .section4-hello .section4-main-content .section4-card {
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .section-first .section5 .section5-div {
    width: 90%;
    margin: 0 auto;
  }
  .section-first .section5 .section5-div .section5-title-textbox {
    width: 291px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .section-first .section5 .section5-div .section5-title-textbox > h3 {
    font-size: 32px;
    margin-bottom: 8px;
    line-height: 42px;
  }
  .section-first .section5 .section5-div .section5-main-content {
    width: 288px;
    margin: 0 auto;
  }
  .section-first .section5 .section5-div .section5-main-content > img {
    margin-right: 27px;
    margin-left: 3px;
    height: 1000px;
  }
  .section-first .section5 .section5-div .section5-main-content .section5-text-list {
    width: 259px;
  }
  .section-first .section5 .section5-div .section5-main-content .section5-text-list .section5-text-list-card {
    width: 259px;
    margin-bottom: 49px;
  }
  .section-first .section6 {
    background-color: #101D2D;
  }
  .section-first .section6 .section6-div {
    width: 90%;
    margin: 0 auto;
  }
  .section-first .section6 .section6-div .section6-title-textbox {
    width: 288px;
    margin: 0 auto;
    margin-bottom: 51px;
  }
  .section-first .section6 .section6-div .section6-title-textbox > h4 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 8px;
  }
  .section-first .section6 .section6-div .section6-main-content {
    width: 288px;
    margin: 0 auto;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-main-content-users {
    width: 288px;
    margin: 0 auto;
    margin-bottom: 32px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-main-content-users > img {
    width: 270px;
    margin: 0 auto;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 288px;
    margin: 0 auto;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards {
    width: 288px;
    height: 500px;
    margin: 0 auto;
    margin-bottom: 26px;
    border-radius: 4px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text {
    margin-left: 14px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text > h3 {
    font-size: 16px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list {
    margin: 0 auto;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list > div > img {
    margin-right: 6px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards .section6-card-main-text .section6-cards-main-text-list > img {
    width: 250px;
  }
  .section-first .section6 .section6-div .section6-main-content .section6-card-list .section6-cards > button {
    width: 240px;
    border-radius: 2px;
  }
  .footer1 {
    width: 100vw;
  }
  .footer1 .footer-div {
    width: 90%;
    margin: 0 auto;
  }
  .footer1 .footer-div .footer-main-content {
    width: 288px;
    margin: 0 auto;
    height: 244px;
  }
  .footer1 .footer-div .footer-main-content > div {
    width: 215px;
    padding-top: 47px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
  .footer1 .footer-div .footer-main-content > div > h4 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 45px;
  }
  .footer1 .footer-div .footer-main-content > div > input {
    width: 215px;
    border: 0px;
    border-radius: 3px;
  }
  .footer1 .footer-div .footer-bottom {
    width: 288px;
    margin: 0 auto;
  }
  .footer1 .footer-div .footer-bottom .footer-bottom-logos {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer1 .footer-div .footer-bottom .footer-bottom-logos > div {
    width: 120px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  .footer1 .footer-div .footer-bottom .footer-bottom-logos > img {
    width: 40px;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .footer1 .footer-div .footer-bottom .footer-bottom-help-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .footer1 .footer-div .footer-bottom .footer-bottom-help-list h5 {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .footer1 .footer-div .footer-bottom .footer-bottom-help-list > div {
    margin: 0 auto;
  }
  .body2 section .section1 {
    height: 1920px;
  }
  .body2 section .section1 > img {
    height: 800px;
  }
  .body2 section .section1 > div .section1-title-box-text {
    height: auto;
    margin-bottom: 37px;
    width: 288px;
  }
  .body2 section .section1 > div .section1-title-box-text > h3 {
    width: 288px;
    font-size: 44px;
  }
  .body2 section .section1 > div .section1-card-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body2 section .section1 > div .section1-card-list .section1-card {
    width: 288px;
    height: 493px;
    margin: 0 auto;
    margin-bottom: 17px;
  }
  .body2 section .section1 > div .section1-card-list .section1-card > img {
    margin-left: 24px;
    margin-top: 24px;
    margin-bottom: 16px;
  }
  .body2 section .section1 > div .section1-card-list .section1-card > p {
    width: 240px;
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 8px;
  }
  .body2 section .section1 > div .section1-card-list .section1-card > div > img {
    width: 83%;
    margin-left: 24px;
  }
  .body2 section .section1 > div .section1-card-list .section1-card > div > div > h6 {
    margin-left: 24px;
  }
  .body2 section .section2 .section2-social-images {
    width: 288px;
    margin-bottom: 45px;
  }
  .body2 section .section2 .section2-social-images > img {
    width: 288px;
    height: 2px;
  }
  .body2 section .section2 .section2-social-images > div {
    width: 150px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 16px;
    margin-top: 40px;
  }
  .body2 section .section2 .section2-social-images > div > img {
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .body2 section .section2 .section2-social-images > div .image-1 {
    width: 130px;
  }
  .body2 section .section2 .section2-social-images > div .image-2 {
    width: 120px;
  }
  .body2 section .section2 .section2-social-images > div .image-3 {
    width: 150px;
  }
  .body2 section .section2 .section2-social-images > div .image-4 {
    width: 150px;
  }
  .body2 section .section2 .section2-social-images > div .image-5 {
    width: 130px;
  }
  .body2 section .section2 .section2-main-content .title-text-textbox {
    width: 288px;
    margin-bottom: 58px;
  }
  .body2 section .section2 .section2-main-content .title-text-textbox > h3 {
    font-size: 32px;
    margin-bottom: 8px;
  }
  .body2 section .section2 .section2-main-content .title-text-textbox > p {
    font-size: 20px;
    color: #627183;
  }
  .body2 section .section2 .section2-main-content .human-profiles {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body2 section .section2 .section2-main-content .human-profiles .profile-cards {
    width: 288px;
    height: 343px;
  }
  .body2 section .section3 .section3-title-textbox {
    width: 288px;
  }
  .body2 section .section3 .section3-title-textbox > h3 {
    width: 288px;
    font-size: 32px;
    line-height: 42px;
  }
  .body2 section .section3 .section3-title-textbox > p {
    width: 288px;
    font-size: 20px;
    line-height: 30px;
    color: #627183;
  }
  .body2 section .section3 .main-content {
    width: 288px;
  }
  .body2 section .section3 .main-content .text-and-image {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .body2 section .section3 .main-content .text-and-image > div {
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .body2 section .section3 .main-content .text-and-image > div > h4 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 26px;
    text-align: center;
  }
  .body2 section .section3 .main-content .text-and-image > div > p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  .body2 section .section3 .main-content .text-and-image > img {
    width: 100%;
  }
  .body2 section .section3 .main-content .text-and-image2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body2 section .section3 .main-content .text-and-image2 > div {
    margin-top: 32px;
    margin-bottom: 40px;
  }
  .body2 section .section3 .main-content .text-and-image2 > div > h4 {
    font-size: 24px;
    line-height: 34px;
    margin-bottom: 26px;
    text-align: center;
  }
  .body2 section .section3 .main-content .text-and-image2 > div > p {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
  }
  .body2 section .section3 .main-content .text-and-image2 > img {
    width: 100%;
  }
  .body2 section .section4 {
    width: 293px;
    margin: 0 auto;
  }
  .body2 section .section4 .section4-text1 {
    width: 100%;
  }
  .body2 section .section4 .section4-text1 > h4 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 16px;
  }
  .body2 section .section4 .section4-text1 > p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 65px;
  }
  .body2 section .section4 > img {
    width: 288px;
    margin: 0 auto;
    margin-bottom: 35px;
  }
  .body2 section .section4 .section4-text2 {
    width: 100%;
    margin-bottom: 55px;
  }
  .body2 section .section5 {
    width: 292px;
    margin: 0 auto;
  }
  .body2 section .section5 .text {
    width: 100%;
  }
  .body2 section .section5 .text > h4 {
    font-size: 32px;
    line-height: 42px;
    margin-bottom: 8px;
  }
  .body2 section .section5 .text > p {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 50px;
  }
  .body2 section .section5 .list {
    width: 100%;
  }
  .body2 section .section5 .list > img {
    width: 100%;
    height: 2px;
  }
  .body2 section .section5 .list > div > p {
    font-size: 18px;
  }
  .body2 section .section5 .list > div > img {
    margin-top: 5px;
  }
  .body2 footer {
    width: 100vw;
  }
  .body2 footer .head {
    width: 288px;
    height: 244px;
  }
  .body2 footer .head > div {
    width: 240px;
    margin: 0 auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-left: 0px;
    padding-top: 47px;
  }
  .body2 footer .head > div > h4 {
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    width: 240px;
    margin-bottom: 35px;
  }
  .body2 footer .head > div > button {
    width: 240px;
  }
  .body2 footer .main-content {
    width: 288px;
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  .body2 footer .main-content .main-content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0px;
  }
  .body2 footer .main-content .main-content-list .first-list {
    margin: 0 auto;
    margin-bottom: 30px;
  }
  .body2 footer .main-content .main-content-list .first-list > img {
    margin-left: 55px;
  }
  .body2 footer .main-content .main-content-list .first-list > p {
    text-align: center;
  }
  .body2 footer .main-content .main-content-list .second-list {
    margin-bottom: 40px;
  }
  .body2 footer .main-content .main-content-list .second-list > h4 {
    text-align: center;
  }
  .body2 footer .main-content .main-content-list .second-list > h5 {
    text-align: center;
  }
  .body2 footer .main-content .logos-and-contact {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .body2 footer .main-content .logos-and-contact .logos {
    margin: 0 auto;
    margin-top: 20px;
    width: 170px;
  }
  .body2 footer .main-content .logos-and-contact .logos > img {
    width: 20px;
    height: 20px;
  }
  .body3 {
    width: 100%;
  }
  .body3 header {
    height: 80px;
    width: 100vw;
    position: fixed;
  }
  .body3 header .header-container {
    width: 75%;
    height: 36px;
    margin: 0 auto;
    margin-top: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .body3 header .header-container .header-list {
    display: none;
  }
  .body3 header .container {
    display: block;
  }
  .body3 section {
    width: 288px;
    margin: 0 auto;
    margin-bottom: 50px;
    padding-top: 130px;
  }
  .body3 section > h3 {
    font-size: 44px;
    line-height: 54px;
    margin-bottom: 37px;
  }
  .body3 section .sign-in {
    width: 288px;
    margin: 0 auto;
  }
  .body3 section .sign-in > input {
    width: 288px;
  }
  .body3 section .sign-in > button {
    width: 288px;
    margin-top: 5px;
  }
}
/*# sourceMappingURL=global.css.map */